@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;1,700&family=Rubik&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
body{
    background-color:rgb(139, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    /* display: flex;
    justify-content: center; */
    height: 450px;
    width: 400px;
    background-color:  #68638a;
    border-radius: 10px;
}

.container .box1{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    height: 55px;
    width: 350px;
    border-radius: 10px;
    background-color:  #cec8c1;
}

.container .box2{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    height: 55px;
    width: 350px;
    border-radius: 10px;
    background-color: #cec8c1;
}

.container .box3{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    height: 55px;
    width: 350px;
    border-radius: 10px;
    background-color: #cec8c1;
}

.container .box4{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    height: 55px;
    width: 350px;
    border-radius: 10px;
    background-color:  #cec8c1;
}

.container .box5{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    height: 55px;
    width: 350px;
    border-radius: 10px;
    background-color:  #cec8c1;
}


.container .box1 .innerbox{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
}

.container .box2 .innerbox{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
}
.container .box3 .innerbox{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
}

.container .box4 .innerbox{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
}

.container .box5 .innerbox{
    /* border: none; */

    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
}

.container .box5 span{
    margin-top: 2px;
    /* margin-left: 30px; */
}

span{
    margin-top: 15px;
    margin-left: 20px;
}

.container .box1 .innerbox:hover{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
    transform:translate(-5px,-10px);
    transition: 0.3s ease-in-out;
}

.container .box2 .innerbox:hover{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
    transform:scale(1.3);
    transition: 0.3s ease-in-out;
}

.container .box3 .innerbox:hover{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
    transform:rotate(20deg);
    transition: 0.3s ease-in-out;
}

.container .box4 .innerbox:hover{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
    transform:skew(-5deg,-10deg);
    transition: 0.3s ease-in-out;
}

.container .box5 .innerbox:hover{
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: blueviolet;
    transform:matrix(0.866,0.7,-0.8,0.866,0,0);
    transition: 0.3s ease-in-out;
}

.container .title {
    text-align: center;
}

.title span{
    font-size: 30px;
}